<%- include("partials/header.ejs"); %>

<main class="main">
    <!-- If not top rated books are available, don't show this element -->
    <%if(locals.topRatedThree){%>
        <section class="showcase">
            
            <h2>Top Rated Books</h2>
            <hr class="divider" />
            <div class="showcase_top-books">
                <%topRatedThree.forEach((book) => { %>
                    <form action="/select" method="post" id="<%= book.id%>">
                    <input type="hidden" name="book_id" value="<%= book.id%>">
                        <div class="showcase_book selectable" onclick="SelectBook('<%= book.id%>')">
                            <%if(book.has_cover){%>
                                <img class=" book_cover" src="https://covers.openlibrary.org/b/<%=book.id_type%>/<%=book.id_number%>-M.jpg?default=false" alt="<%=book.title%> book cover" width="150px" height="200px">
                                <%} else {%>       
                                    <div class="showcase_book no_book_cover">
                                        <p><%=book.title%></p>
                                    </div> 
                                <%}%>
                            <p class="center">Rating: <spam class="grey_text"><%=book.rating%>/10</spam></p>
                        </div>
                    </form>
                <% }) %>       
            </div>
        </section>
        <%}%>
    <hr class="divider" />

    <section class="filter">
        <h3>Filter By:</h3>
        <!-- Replace with links -->
        <form action="/filter" method="post">
            <input type="hidden" name="filter" value="name">
            <button class="filter_button" type="submit">Name</button>
        </form>
        <form action="/filter" method="post">
            <input type="hidden" name="filter" value="date">
            <button class="filter_button" type="submit">Date</button>
        </form>
        <form action="/filter" method="post">
            <input type="hidden" name="filter" value="rating">
            <button class="filter_button" type="submit">Rating</button>
        </form>
    </section>


    <section class="books">
        <!-- WHen no books are available, show that no books are shown -->
        <%if(locals.books) {%>
            <%books.forEach((book) => {%>
                <form action="/select" method="post" id="<%=book.id%>">
                    <input type="hidden" name="book_id" value="<%=book.id%>">
                    <div class="books_book selectable" onclick="SelectBook('<%=book.id%>')">
                        <%if(book.has_cover){%>
                            <img class="book_cover" src="https://covers.openlibrary.org/b/<%=book.id_type%>/<%=book.id_number%>-M.jpg?default=false" alt="<%=book.title%> book cover" width="150px" height="200px">
                            <%} else {%>       
                                <div class="books_book no_book_cover">
                                    <p><%=book.title%></p>
                                </div> 
                            <%}%>
                        <div class="books_details">
                            <div class="books_details_text">
                                <h2><%=book.title%></h2>
                                <p class="text_overflow grey_text"><%=book.summary%></p>
                            </div>
                            <div class="books_extra-details">
                                <p>Rating:<spam class="grey_text"> <%=book.rating%>/10</spam></p>
                                <p class="books_extra-details__bottom">Date Read:<spam class="grey_text"> <%=book.date_read%></spam></p>
                            </div>
                        </div>
                    </div>
                </form>
                <hr class="divider" />
               <%})%> 
            <%} else{ %>
                <h1 class="center">No Book!</h1>
                <%}%>
    </section>
</main>

<script src="navigation.js"></script>

<%- include("partials/footer.ejs"); %> 