<%- include("partials/header.ejs"); %>

<main class="container">
    <div class="books-container">
      
        <% if(locals.data) {%>
        
            <% for(var i = 0; i < data.length; i++) {%>
                <div class="book">             
                    <div class="book-img">
                        <%if(data[i].s_cover != null) {%>
                            <img class="book-cover" src="/images/book_cover_test.jpg" alt="">
                        <%} else {%>
                            <div class="no-book-img">
                                <p class="book-cover-name"><%= data[i].title%></p>
                            </div>
                        <%}%>
                    </div>
                    <div class="book-details">             
                        <a class="book-link" href="/select/<%=data[i].id%>"><h3><%= data[i].title%></h3></a>   <!--Remove links, use script instead-->
                        <p><%= data[i].summary%></p>
                        <div class="book-details-extras">
                            <p>ratings: 10/10</p>
                            <p>Date Read: <%= data[i].date_read%></p>
                        </div>
                    </div>
                </div>
            <%}%> 
        <%}%>

    </div>
</main>

<script src="navigation.js"></script>

<%- include("partials/footer.ejs"); %>