<%- include("partials/header.ejs"); %>

    <h1>Book, Books and books!</h1>

    <% if(locals.data) {%>
    
        <% for(var i = 0; i < data.length; i++) {%>
            <%if(data[i].s_cover != null) {%>
                <a href="/select/<%=data[i].id%>"><%= data[i].title%></a>         
               <img src="<%= data[i].s_cover%>" alt="">
               <p><%= data[i].date_read%></p>
            </br>
            <%} else {%>
                <a href="/select/<%= data[i].id%>"></a>     
                <p>Image not found</p>
                <p><%= data[i].date_read%></p>
            </br>
            <%}%>
        <%}%>
    <%}%>


<form action="/new" method="get">
<input type="submit" value="New Book">
</form>

    <%- include("partials/footer.ejs"); %>
