<%- include("partials/header.ejs"); %>

<main class="main">
    <section class="showcase">
        <h2>Top Rated Books</h2>
        <hr class="divider" />
        <div class="showcase_top-books">
            <div class="showcase_book">
                <img src="images/book_cover_test.jpg" alt="Test Image" width="100px" height="150px">
                <p>Rating: 10/10</p>
            </div>
             <div class="showcase_book">
                <img  src="images/book_cover_test.jpg" alt="Test Image" width="100px" height="150px">
                <p>Rating: 10/10</p>
            </div> 
             <div class="showcase_book">
                <img  src="images/book_cover_test.jpg" alt="Test Image" width="100px" height="150px">
                <p>Rating: 10/10</p>
            </div> 
        </div>
    </section>

    <hr class="divider" />

    <section class="filter">
        <h3>Filter By:</h3>
        <!-- Replace with links -->
        <a href="">Name</a>
        <a href="">Date</a>
        <a href="">Rating</a>

    </section>


    <section class="books">
        <div class="books_book">
            <img class="book_cover"  src="images/book_cover_test.jpg" alt="Test Image">
            <div class="books_details">
                <h2>Book Title</h2>
                <p class="text_overflow">A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book.</p>
                <div class="books_extra-details">
                    <p>Rating: 6/10</p>
                    <p>Date Read: 21/12/2023</p>
                </div>
            </div>
        </div>
        <hr class="divider" />
        <div class="books_book">
            <img class="book_cover"  src="images/book_cover_test.jpg" alt="Test Image">
            <div class="books_details">
                <h2>Book Title</h2>
                <p class="text_overflow">A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book.</p>
                <div class="books_extra-details">
                    <p>Rating: 6/10</p>
                    <p>Date Read: 21/12/2023</p>
                </div>
            </div>
        </div>
        <hr class="divider" />
        <div class="books_book">
            <img class="book_cover"  src="images/book_cover_test.jpg" alt="Test Image">
            <div class="books_details">
                <h2>Book Title</h2>
                <p class="text_overflow">A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book.</p>
                <div class="books_extra-details">
                    <p>Rating: 6/10</p>
                    <p>Date Read: 21/12/2023</p>
                </div>
            </div>
        </div>
        <hr class="divider" />
        <div class="books_book">
            <img class="book_cover"  src="images/book_cover_test.jpg" alt="Test Image">
            <div class="books_details">
                <h2>Book Title</h2>
                <p class="text_overflow">A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book. A paragraph about the book.</p>
                <div class="books_extra-details">
                    <p>Rating: 6/10</p>
                    <p>Date Read: 21/12/2023</p>
                </div>
            </div>
        </div>
    </section>
</main>




<!-- 
<main class="container">
    
    <% if(locals.topRatedThree) {%>
        <div class="showcase">
            <h3>Top Rated</h3>
            <div class="top-rated">
                <% for(var i = 0; i < topRatedThree.length; i++) {%>
                    <form class="submit ratings" id="<%-data[i].id.toString()%>" action="/select" method="post">
                        <input type="hidden" name="book_id" value="<%= data[i].id%>"> 
                        <div class="book ratings" onclick="SelectBook(`<%=topRatedThree[i].id%>`)">             
                            <div class="book-img">
                                <%if(topRatedThree[i].s_cover != null) {%>
                                    <img class="book-cover" src="/images/book_cover_test.jpg" alt="">
                                <%} else {%>
                                    <div class="no-book-img">
                                        <p class="book-cover-name"><%= topRatedThree[i].title%></p>
                                    </div>
                                <%}%>
                            </div>
                            <div class="">             
                                <h3><%= topRatedThree[i].title%></h3>    
                                <p>ratings: 10/10</p>
                            </div>
                        </div>
                    </form>
                <%}%>
            </div>
        </div>
    <%}%>
    

    <div class="filter">
        <p class="center">Filter:</p>
        <form action="/filter", method="post">
            <button class="rating" name="filter" value="date">Date</button>
        </form>
        <form action="/filter", method="post">
            <button class="rating" name="filter" value="name">Name</button>
         </form>
        <form action="/filter", method="post">
            <button class="rating" name="filter" value="rating">Rating</button>
        </form>
    </div>

    <div class="books-container">
        <% if(locals.data) {%>
            <hr />
            <% for(var i = 0; i < data.length; i++) {%>
                <form class="submit" id="<%-data[i].id.toString()%>" action="/select" method="post">
                    <input type="hidden" name="book_id" value="<%= data[i].id%>">
                    <div class="book" onclick="SelectBook(`<%=data[i].id%>`)">             
                        <div class="book-img">
                            <%if(data[i].s_cover != null) {%>
                                <img class="book-cover float-left" src="/images/book_cover_test.jpg" alt="">
                            <%} else {%>
                                <div class="no-book-img">
                                    <p class="book-cover-name"><%= data[i].title%></p>
                                </div>
                            <%}%>
                        </div>
                        <div class="book-details">             
                            <h3><%= data[i].title%></h3> 
                            <p class="book-summary-text" maxlenght="5"><%= data[i].summary%></p>
                            <div class="book-details-extras">
                                <p>ratings: 10/10</p>
                                <p>Date Read: <%= data[i].date_read%></p>
                            </div>
                        </div>
                    </div>
                </form>
                <hr />
            <%}%> 
        <%}%>
    </div>

    <div class="pages"></div>


</main>

    <script src="navigation.js"></script>
-->

<%- include("partials/footer.ejs"); %> 