<%- include("partials/header.ejs")%>

<!-- title: "Witcher",
    summary: "A book about witchers",
    notes: "Null and void",
    id_type: "ISBN",
    id_number: "1506702457",
    date_read: "2020-09-13",
    rating: 6 -->


<%if(locals.data == null){%>
<!-- New book -->
<h1>New book</h1>

<!-- Temp -->
<form action="/new" method="post">
<label for="book_name"> Book Name</label>
</br>
<input type="text" id="book_name" name="book_name" value="" placeholder="Title" min="0" max="10" step="1">
</br>
<label for="rating"> Rating</label>
</br>
<input type="number" id="rating" name="rating" value="" placeholder="0">
</br>
<label for="id_type"> Book ID type</label>
</br>
<input type="text" id="id_type"  name="id_type" value="" placeholder="ISBN">
</br>
<label for="id_number"> Book ID number</label>
</br>
<input type="text" id="id_number"  name="id_number" value="" placeholder="Number">
</br>
<label for="date_read"> Book ID number</label>
</br>
<input type="date" id="date_read"  name="date_read" value="" placeholder="Number">
</br>
<label for="summary"> Summary</label>
</br>
<textarea name="summary" id="summary" cols="30" rows="10"></textarea>
</br>
<label for="notes"> Notes</label>
</br>
<textarea name="notes" id="notes" cols="30" rows="10"></textarea>
</br>
<input type="submit" name="Add Book">

</form>

<%} else {%>
<!-- Editing existing book -->
<h1>Existing book</h1>

<form action="/edit_book" method="post">
    <input type="hidden" id="book_id" name="book_id" value="<%=data[0].id%>">
    <label for="book_name"> Book Name</label>
    </br>
    <input type="text" id="book_name" name="book_name" value="<%=data[0].title%>" placeholder="Title" min="0" max="10" step="1">
    </br>
    <label for="rating"> Rating</label>
    </br>
    <input type="number" id="rating" name="rating" value="<%=data[0].rating%>" placeholder="0">
    </br>
    <label for="id_type"> Book ID type</label>
    </br>
    <input type="text" id="id_type"  name="id_type" value="<%=data[0].id_type%>" placeholder="ISBN">
    </br>
    <label for="id_number"> Book ID number</label>
    </br>
    <input type="text" id="id_number"  name="id_number" value="<%=data[0].id_number%>" placeholder="Number">
    </br>
    <label for="date_read"> Book ID number</label>
    </br>
    <input type="date" id="date_read"  name="date_read" value="2023-05-15" placeholder="Number">
    </br>
    <label for="summary"> Summary</label>
    </br>
    <textarea name="summary" id="summary" cols="30" rows="10"><%=data[0].summary%></textarea>
    </br>
    <label for="notes"> Notes</label>
    </br>
    <textarea name="notes" id="notes" cols="30" rows="10"><%=data[0].notes%></textarea>
    </br>
    <input type="submit" name="Add Book">
    
    </form>

    // !-- Format this before rendering the page  into (2025-11-25) --
    <h1><%=data[0].date_read.getFullYear().toString()%> <%=data[0].date_read.getMonth()%> <%=data[0].date_read.getDay()%></h1>


<%}%>



<%- include("partials/footer.ejs")%>